body {
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#app {
    margin: 10px;

    width: 1280px;
    min-height: 185px;
    border: 1px solid #bfbfbf;

    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    margin: 10px;
    width: 1280px;
    height: 1280px;
}

